@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.wrap {
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  background: linear-gradient(135deg, #ff008a, #ff462b);

  .container {
    position: relative;
    width: 420px;
    min-width: 420px;
    min-height: 100vh;
    padding-bottom: 70px;
    margin: 0 auto;
    background: colors.$BLACK;
    box-shadow: 0 -1px 10px 0 rgb(0 0 0 / 51%);
  }
}
